manifest {
    homePage = 'https://github.com/asangphukieo/Qualimap-HPV16'
    description = 'Qualimap-HPV16: QC pipeline for HPV16 sequencing data'
    mainScript = 'Qualimap.nf'
    version = '1.1'
}

profiles {
    standard {
        process.executor = 'local'
    }
    slurm {
        process.executor = 'slurm'
        process.queue = 'low_p'
    }
    sge {
        process.executor = 'sge'
        process.queue = 'low_p'
    }
}
